name: 'base'

on:
  push:
    branches: [ main ]

jobs:
    terraform-job:
        uses: fivexl/github-reusable-workflows/.github/workflows/terraform-job.yml@main
        with:
            terraform-version: "1.5.0"
            aws-default-region: "eu-central-1"
